.container {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 24px;
}

.firstContainer {
  display: flex;
  padding: 24px;
  height: fit-content;
  width: 45rem;
  //box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.secodContainer {
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: yellow;
  margin-left: 4rem;
  padding: 14px;
}

.paras {
  font-size: 1.6rem;
  margin-top: 1rem;
}
